body{
    margin:0px;
    padding:0px;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    transition-property:all;
    transition-duration: 0.1s;
}
*a:link{
    text-decoration:none;
}
.toparea{
    background: rgb(60,70,79);
    position:sticky;
    top:0px;
    z-index:1000;
    transition-property:all;
    transition-duration: 0.5s;
}
.toparea a:link{
    color: #A6C5EB;
    font-size:12px;
    padding:0px 20px 0px 0px !important;

}
.toparea a:hover{
    color:#499DC2 !important;
}
.toparea .btn{
    background:green;
    color:white;
    position:absolute;
    right:0px;
    padding-top:0px !important;
}
.nav-link a:link{
    background:none;
}
.collapse{
    background:none;
}
.slide{
    height:750px;
    padding:0px !important;
    background-position:fixed;
    background-size:cover;    
}
.slide img{
    padding:0px !important;
    height:750px;
}
.logo{
    height:50px;
    width:300px;
    background:none;
}
.logo img{
    height:50px;
    width:300px;    
}
.content1{
    padding:0px;
    background: rgb(255,255,255);
}
.content1 h1{
    color:#48639E;
    text-align:center;
}
.content1 p{
    color: rgb(153,153,153);
    text-align:center;
}
.content1var{
    padding:0px 250px 50px 250px;
    background: rgb(255,255,255);
}
.card{
    width:300px;
    height:320px;
    float:left !important;
    padding:10px 0px;
    margin:30px 10px 0px 10px !important;
    background:none;
    display:block;
    text-decoration:none;
    border:none !important;
}
.card img{
    width:170px;
    height:170px;
    transition:all 4s;
    border-radius:50%;
    position:relative;
    display:block;
    top:0px;
    bottom:0px;
    left:65px;
    right:65px;
}
.card:hover{
    background:rgb(245,245,245);
    box-shadow:1px 1px 1px 2px 2px rgb(60,70,79);
}
.card .card-body h5{
    margin:0px;
    text-align:center;
    padding:0px 0px 5px 0px !important;
    color:rgb(25,25,25) !important;
}
.card .card-body h5:hover{
    color:#4FB7E1;
    display:block;
}
.card .card-body p{
    margin:0px !important;
    text-align:center;
}
.content2{
    padding:50px 450px 0px 400px;
    background: #f4f4f4;
}
.content2 h1{
    color:#48639E;
    text-align:center;
}
.content2var{
    padding:0px 250px 50px 250px;
    background: #f4f4f4;
}
.content2var ul{
    list-style:none;
}
.content2var ul li a:link{
    float:left;
    text-decoration:none;
    color:#fff;
    background: rgb(25,25,25);
    padding:10px 25px;
}
.content2 p{
    color: rgb(153,153,153);
    text-align:center;
}
.card1{
    width:250px;
    height:180px;
    float:left !important;
    padding:10px 0px;
    margin:30px 10px 0px 10px !important;
    background:none;
    display:block;
    text-decoration:none;
    border:none !important;
}
.card1 img{
    width:100px;
    height:100px;
    transition:all 4s;
    border-radius:50%;
    position:relative;
    top:0px;
    bottom:0px;
    left:75px;
    right:75px;
}
.card1:hover{
    background:rgb(255,255,255);
    box-shadow:1px 1px 1px 2px 2px rgb(60,70,79);
}
.card1 .card1-body h5{
    text-align:center;
    color:rgb(25,25,25) !important;
}
.card1 .card1-body h5:hover{
    color:#4FB7E1;
    display:block;
}
.card1 .card1-body p{
    margin:0px !important;
    text-align:center;
}
.content3{
    padding:50px 220px 0px 220px;
}
.content3 h1{
    color:#48639E;
    text-align:center;
}
.content3 p{
    color: rgb(153,153,153);
    text-align:center;
}
.content3var{
    padding:0px 250px 120px 250px;
}
.card2{
    width:230px;
    height:280px;
    display:block;
    float:left !important;
    padding:10px 0px;
    margin:30px 10px 0px 10px !important;
    background:none;
    text-decoration:none;
    background:rgb(244,244,244);
}
.card2 img{
    width:150px;
    height:150px;
    transition:all 4s;
    border-radius:50%;
    position:relative;
    top:10px;
    bottom:0px;
    left:40px;
    right:40px;
    border-left:solid 2px rgb(153,153,153);
    border-right:solid 2px rgb(153,153,153);
    border-top:solid 2px rgb(153,153,153);
    border-bottom:solid 2px rgb(153,153,153);
    transition-property:all;
    transition-duration: 2s;
}
.card2:hover img{
    transform:rotate(360deg);
}
.card2:hover{
    background:rgb(245,249,244);
    box-shadow:1px 1px 1px 2px 2px rgb(60,70,79);
}
.card2 .card2-body h5{
    text-align:center;
    color:rgb(25,25,25) !important;
    padding-top:30px;
    display:block;
}
.card2 .card2-body h5:hover{
    color:#4FB7E1;
    display:block;
}
.card2 .card2-body p{
    margin:0px !important;
    text-align:center;
}
.footer{
    background-color:rgb(32,41,56);
    color: rgb(153,153,153);
    padding:20px 50px;
}
.footer h5{
    font-size:15px;
    font-weight:bold;
}
.footer ul{
    list-style:none;
    position:relative;
    left:-30px;
}
.footer ul li{
    color:rgb(150,149,140);
    font-size:13px;
    font-weight:bold;
    opacity:0.6;
}
.footer ul li:hover{
    opacity:1;
} 
@media screen and (max-width:900px){
    .content1{
        padding:20px 0px;
        margin:0px auto;
    }
    .content1var{
        padding:0px 70px;
    }
    .content2 ul{
        padding:0px;
    }
    .content2{
        padding:0px;
    }
    .content2var{
        padding:0px 100px;
    }
    .content3{
        padding:20px 0px;
        margin:0px auto;
    }
    .content3var{
        padding:20px 100px 20px 100px;
    }
    .slide{
        height:300px;
    }
    .slide img{
        height:300px;
    }
    .collapse{
        padding-top:10px !important;
    }
    .nav-link a:link{
        font-size:20px;
    }
    
    .footer h5{
        text-align:center;
    }
    .footer ul{
        text-align:center;
        margin-bottom:30px;
        margin-left:30px;
    } 
}
